@media screen and (max-width:650px) {
    header .navegacao{
        display: flex;
        flex-direction: column;
    }

    .botao2{
        margin-top: 10px;
        margin-bottom: 25px;
    }

    header nav{
        margin-bottom: 8px;
    }

    .container{
        margin-left: 15px;
        margin-right: 15px;
    }

    .livro-principal{
        height: 650px;
    }

    .livro-principal .titulo{
        font-size: 45px;
        margin-top: 55%;
    }

    .container .descricao{
        width: 90%;
    }
}

@media screen and (min-width: 1000px) {
    .botao{
        font-size: 20px;
    }

    .botao2{
        font-size: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .livro-principal .titulo{
        margin-top: 15%;
    }
    .livro-principal .container{
        width: 80%;
    }
}

@media screen and (min-width: 2000px) {
    .livro-principal .titulo{
        margin-top: 10%;
    }
}